/* ====== TEXT ========== */
h1{
    text-align: center;
    margin-bottom: 3%;
    font-size: 36px;
}
h2{
    font-size: 32px;
    color: rgb(115, 76, 5);
    text-align: center;
    margin: 3%;
}
h3{
    font-size: 28px;
    text-align: center;
    margin-top: 2%;
    color: rgb(133, 8, 242);
}
h4{
    font-size: 24px;
    color: brown;
    margin: 2% auto;
    text-align: center;
}
h5{
    font-size: 22px;
    color: rgb(165, 42, 140);
    margin: 2% auto;
    text-align: center;
}
.p{
    font-size: 24px;
    margin-top: 3%;
    width: 100%;
}
p{
    margin-top: 2px;
}
 .p38{
    font-size: 38px;
 }

 .bold{
    font-weight: bold;
 }
.kazka{
    text-indent: 50px;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
}
.blue{
    color: blue;
}
.red{
    color: red;
}
.green{
    color: rgb(213, 7, 155);
}
 a{
    font-size: 28px;
 }
 ol{
    font-size: 26px;
 }

.p20{
    font-size: 20px;
}
.p22{
    font-size: 22px;
    text-indent: 30px;
    margin: 1% auto 2%;
}
.p24{
    font-size: 24px;
    text-indent: 30px;
    margin: 1%;
}
.italic{
    font-style: italic;
}