*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: darkkhaki;
}

.wrapper{
    /* background-color: darkkhaki; */
    max-width: 100%;
    margin-bottom: 150px;
    position: relative;  
}
.main{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    margin-bottom: 30px;
}
.list{
    max-width: 60%;
    margin:0 auto;
    height: 100vh;
}
.list ul>li{
    font-size: 28px;
    list-style-type: none;   
    margin-top: 10px; 
}
.list ul>li>a{
    text-decoration: none;
    
}
.list ul>li>a:hover{
    transform: scale(0.9);
}
/* ========== HEADER =========== */
.header{
    max-width: 70%;
    margin: 0 auto 5%;
    font-size: 30px;
    text-align: center;
    padding-top: 5%;
    
}
.header ul{
    display: flex;
    gap: 10%;
    
}
.header li{
    list-style-type: none;
    cursor: pointer;
    
}
.header li>a{
    text-decoration: none;
}


/* ====================== */
.lesson{
    max-width: 80%;
    margin: 0 auto;
}
.img{
    width: 100%;
    margin-bottom: 5%;
}

/* audio{
    margin-left: 35%;
} */
/* ====== BTN ======== */
#scrollToTopButton{
    position: absolute;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 150px;
    height: 45px;
    background-color: rgb(246, 215, 168);
    font-size: 24px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.5);
}
#scrollToTopButton:hover{
    transform: scale(0.9);
    background-color: rgb(211, 173, 115);
}
/* ====== TEXT ========== */
h1{
    text-align: center;
    margin-bottom: 3%;
    font-size: 36px;
}
h2{
    font-size: 32px;
    color: rgb(115, 76, 5);
    text-align: center;
    margin: 3%;
}
h3{
    font-size: 28px;
    text-align: center;
}
.p{
    font-size: 28px;
    margin-top: 3%;
}

.blue{
    color: blue;
}
.red{
    color: red;
}
.green{
    color: rgb(213, 7, 155);
}
 a{
    font-size: 28px;
 }
 ol{
    font-size: 26px;
 }
/* ========== MAIN  */
.video{
    width: 80%;
    height: 28em;
    margin: 0 auto;
    padding: 10px;
    /* border: 2px solid red; */
}

.video iframe,
.konspekt iframe{
    width: 100%;
    height: 100%;
}

.fixed-video {
    position: fixed;
    top: 10px; /* отступ сверху */
    left: 10px; /* отступ справа */
    width: 560px;
    height: 315px;
    z-index: 1000; /* чтобы видео было поверх других элементов */
}

/* ------------------ */
.konspekt{
    width: 80em;
    height: 70%;
    /* border: 2px solid orange; */
    margin: 0 auto;
    padding: 10px;
}

.audio_block{
    width: 20%;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 3% 0;
}
.audio_block audio{
    width: 80%;
}

.audioSpan{
    /* text-align: center; */
    font-size: 20px;
}
.audios{
    display: flex;
    justify-content: space-around;
}
.audios iframe{
    width: 240px;
    height: 45px;
}
/* ========= */
.otvet a{
 font-size: 28px;

}
.otvet{
    text-align: center;
    padding-bottom: 200px;
}
/* CHECKBOX */
input{
    width: 20px;
    /* margin-left: 5%; */
}
.lesson{
    display: grid;
    grid-template-columns: 95% 5%;
    margin-left: 0;
}
/* TWO */
.two{
    display: flex;
    justify-content: space-around;
    margin: 1% auto;
    gap: 2%;
}
/* IMAGE */
.image{
    text-align: center;
    margin: 2% auto;
}
.image img{
    max-width: 100%;
}
/* UL > LI */
ul>li{
    font-size: 24px;
    margin-left: 5%;
}
hr{
    border: 1px solid darkgoldenrod;
}
/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    font-size: 22px;
}
th {
    background-color: #f2f2f2;
}
/* BLOCK */
.block{
    width: 450px;
    border: 2px solid rgb(70, 67, 67);
    text-align: center;
    padding: 2%;
    margin: 3% auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
